<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="文讯云空间" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/public/images/favicon.ico" />
    <title>文讯云_真正的无限空间_无限流量_无限数据库_自由绑定域名_免费SSL证书_永久免费的WEB虚拟主机</title>
    <meta name="keywords"content="PHP免费空间,Mysql免费数据库,免费建站空间申请,免费域名申请,免费搭建网站,高防免费空间,无限空间的虚拟主机,无限流量的虚拟主机,免费建站空间,免费免备案CDN加速,永久免费空间,免费虚拟主机空间"/>
    <meta name="description"content="文讯云免费空间（www.free-host.me）依托于iFastNet，主要提供免费无限的PHP空间，免费SSL证书，无限制数据库，拥有全球155节点，提供免备案高防CDN并支持HTTPS，助力于中国站长扬帆起航！"/>
    <!--google web font-->

    <!--style sheets-->
    <link rel="stylesheet" href="/public/css/peeled.css">
    <link rel="stylesheet" media="screen" href="/public/css/style.css" />
    <link rel="stylesheet" media="screen" href="/public/css/skeleton.css" />
    <link rel="stylesheet" media="screen" href="/public/css/flexslider.css" />
    <link rel="stylesheet" media="screen" href="//at.alicdn.com/t/font_920592_gx1j26fymrf.css">
    <link rel="stylesheet" href="/public/css/zzsc.css">
    <!--jquery libraries / others are at the bottom-->
    <script src="/public/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/public/js/modernizr.js" type="text/javascript"></script>
</head>
<body>


<!--header-wrapper starts -->
<div id="header-wrapper">

    <!--header starts-->
    <div id="header">
        <div class="container clearfix">

            <!--logo starts-->
            <div class="four columns logo"> <a href="/">
                <h1><img src="/public/images/logo.gif" width="178" height="40" alt="文讯云logo" title="free-host.me"/></h1>
            </a> </div>
            <!--logo ends-->

            <!--menu starts-->
            <div id="menu" class="twelve columns">
                <ul>
                    <li><span>Welcome home</span><a href="#home" class="nav-home nav selected">首页</a></li>
                    <li><span>We are best at</span><a href="#services" class="nav-services nav">免费主机</a></li>
                    <li><span>Free domainname</span><a href="pricing" class="nav-domain nav">免费域名</a></li>
                    <li><span>Beginner's course</span><a href="theme-styles.html" target="_blank">新手教程</a></li>
                    <li class="omega"><span>Get in touch</span><a href="#contact" class="nav-contact nav">关于我们</a></li>
                </ul>
            </div>
            <!--menu ends-->

        </div>
        <div class="clear"></div>
    </div>
    <!--header ends-->


    <div class="clear"></div>
</div>
<!--header_wrapper ends -->

<!--home starts-->
<div id="home" class="content">
    <div class="container clearfix">
        <!--slider starts-->
        <div class="flexslider slider sixteen columns">
            <ul class="slides">
                <!--first slide starts-->
                <li>
                    <div class="eight columns alpha">
                        <h1>虚拟主机 + 免费域名<span>永久免费</span></h1>
                        <h2>无需备案、无需零成本，踏出互联网第一步</h2>
                        <p>Lead Generation</p>
                        <a href="#" class="btn-big"><span>登录</span></a>
                        <a href="#" class="btn-big"><span>免费开通</span></a>
                        <p><em>" 无限的磁盘空间，无限的数据库容量，自由的域名绑定，免费的全球cdn加速，免费的1年期ssl证书 "</em></p>
                    </div>
                    <div class="eight columns omega">
                        <div class="image-border"><img src="/public/images/preview/slide-1.jpg" alt="image" /> </div>
                    </div>
                </li>
                <!--first slide ends-->
                <!--first slide starts-->
                <li>
                    <div class="eight columns alpha">
                        <h1>cPanel®<span>主机面板</span></h1>
                        <h2>Lead Generation</h2>
                        <p>使用cPanel®（业界领先的Web托管控制面板），托管帐户管理变得前所未有的轻松。</p>
                        <a href="#" class="btn-big"><span>登录</span></a>
                        <a href="#" class="btn-big"><span>免费开通</span></a>
                        <p><em>" 无限的磁盘空间，没有每日命中限制，256个Softiculious脚本安装程序和免费托管中不包含的更多功能！ "</em></p>
                    </div>
                    <div class="eight columns omega">
                        <div class="image-border"><img src="/public/images/preview/slide-1.png" alt="image" /> </div>
                    </div>
                </li>
                <!--first slide ends-->

                <!--second slide starts-->
                <li>
                    <div class="eight columns alpha">
                        <h1>站点生成器<span>Site Builder</span></h1>
                        <p>直观的界面允许通过简单地用鼠标拖动内容块并将它们放到正确的位置来创建令人惊叹的网站。超过170种不同类别的预先设计模板可供选择。</p>
                        <ul class="list-bullet-blue">
                            <li>量身定制的解决方案,永久免费，100%稳定</li>
                            <li>复杂页面，一键生成，满足你所有想象</li>
                        </ul>
                        <a href="#" class="btn-big"><span>登录</span></a>
                        <a href="#" class="btn-big"><span>免费开通</span></a> </div>
                    <div class="eight columns omega">
                        <!--<div class="video-wrapper"></div>-->
                        <div class="image-border"><img src="/public/images/preview/slide-2.jpg" alt="image" /> </div>
                    </div>
                </li>
                <!--second slide ends-->

                <!--third slide starts-->
                <li>
                    <div class="eight columns alpha">
                        <h1>自动脚本安装程序<span>Apps Installer</span></h1>
                        <h2>Installer features</h2>
                        <p>单击应用程序安装程序，提供350多个应用程序，并仍然添加更多 不需要安装后配置 - 一切都自动完成。</p>
                        <a href="#" class="btn-big"><span>登录</span></a>
                        <a href="#" class="btn-big"><span>免费开通</span></a>
                        <p><em>" 使用PHP，MySQL，FTP，文件管理器，网站生成器，自动脚本安装程序等即时激活免费托管！ "</em></p>
                    </div>
                    <div class="eight columns omega">
                        <div class="image-border"><img src="/public/images/preview/slide-3.jpg" alt="image" /> </div>
                    </div>
                </li>
                <!--third slide ends-->

            </ul>
        </div>
        <!--slider ends-->

        <!--features starts-->
        <div class="container clearfix">
            <ul class="features">
                <li> <img src="/public/images/icons/icon-1.png" width="106" height="76" alt="icon" />
                    <h2>We Build <br />
                        免费虚拟主机</h2>
                    <div class="divider"></div>
                    <p>我们提供完全免费的虚拟主机托管，以及创建网站所需的所有功能和工具。免费托管服务适用于您域名的整个生命周期。</p>
                </li>
                <li><img src="/public/images/icons/icon-2.png" width="106" height="76" alt="icon" />
                    <h2>We Supply <br />
                        免费FTP上传</h2>
                    <div class="divider"></div>
                    <p>我们提供具有FTP访问权限的云文件存储，这对于上传监控摄像机录像，备份存档或大型文件特别有用。</p>
                </li>
                <li><img src="/public/images/icons/icon-3.png" width="106" height="76" alt="icon" />
                    <h2>We Allow <br />
                        免费SSL证书安装</h2>
                    <div class="divider"></div>
                    <p>我们免费为您提供了自签名SSL证书以及支持一键开启CloudFlare加速、免费证书等服务，当然你也可以上传您自己的证书。</p>
                </li>
                <li><img src="/public/images/icons/icon-4.png" width="106" height="76" alt="icon" />
                    <h2>We Support <br />
                        免费企业邮局</h2>
                    <div class="divider"></div>
                    <p>我们允许您用绑定域名作为邮箱帐号后缀创建免费企业邮局，提升形象，且邮箱管理权在您自己。</p>
                </li>
            </ul>
        </div>
        <!--features ends-->

        <!--page divider here-->
        <div class="page-divider">
            <h2 style="text-align: center;">这可能是世界上最豪华的免费虚拟主机</h2>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!--home ends-->

<!--services starts-->
<div id="services" class="content">
    <div class="container clearfix">

        <!--column starts-->
        <div class="two-thirds column">
            <div class="one-third column alpha">
                <p class="text-big">文讯云Free-Host.me为您提供其他免费的网络托管服务根本不能提供的工具和资源。</p>
            </div>
            <div class="one-third column omega">
                <p><strong>我们提供什么</strong><br />
                    免费托管包非常适合轻量级网站，如Wordpress博客，互联网论坛或使用我们的网站生成器构建的网站。平均而言，免费帐户可以为基于PHP的网站每日约30000名访问者提供服务，或者几乎无限制地访问纯HTML网站。我们不限制您网站的可用性 - 它将全天24小时在线。 <a href="#" class="link-style">Learn more &raquo;</a></p>
            </div>
            <div class="divider-dotted"></div>
            <ul class="services">
                <li>
                    <h3>Linux/Apache/PHP/MySQL</h3>
                    <img src="/public/images/icons/icon-services-1.png" width="64" height="64" alt="icon" />
                    <p>.htaccess支持、所有常见的Apache模块、所有常见的PHP扩展、随意切换PHP版本，以及无限制的数据库。 </p>
                </li>
                <li class="omega">
                    <h3>免费无限制域名托管</h3>
                    <img src="/public/images/icons/icon-services-2.png" width="64" height="64" alt="icon" />
                    <p>您可绑定无限制自主域名，停放无限子域名，并且我们支持.TK、.ML、.GA等免费域名。</p>
                </li>
                <li>
                    <h3>免费虚拟主机配置详情</h3>
                    <img src="/public/images/icons/icon-services-3.png" width="64" height="64" alt="icon" />
                    <p>磁盘空间：无限、FTP账号：1个、MySQL数据库：无限制、流量配额：无限制、每日点击使用：500000</p>
                </li>
                <li class="omega">
                    <h3>我们对经营网站的限制</h3>
                    <img src="/public/images/icons/icon-services-4.png" width="64" height="64" alt="icon" />
                    <p>我们严格封禁网络钓鱼、赌博网站、色情网站等其他对互联网用户构成威胁的恶意网站。</p>
                </li>
            </ul>
        </div>
        <!--column ends-->

        <!--box starts-->
        <div class="one-third column">
            <div class="box">

                <!--sider-small starts-->
                <div class="flexslider slider-small">
                    <ul class="slides">
                        <li><img src="/public/images/preview/slide-small-1.jpg" alt="image" /></li>
                        <li>
                            <img src="/public/images/preview/slide-small-2.jpg" alt="image" />
                        </li>
                        <li><img src="/public/images/preview/slide-small-3.jpg" alt="image" /></li>
                    </ul>
                </div>
                <!--sider-small ends-->

                <h3>什么是域名和虚拟主机？</h3>
                <p>域名是Internet上您的网站的唯一标识符，而Web托管是链接到您的域的服务器上的空间，您可以在其中上载网页。</p>
                <a href="#" class="btn-small"><span>更多问题</span></a>
                <div class="clear"></div>
            </div>
        </div>
        <!--box ends-->

        <!--divider here-->
        <div class="divider-dotted sixteen columns"></div>
    </div>

    <!--3 columns starts-->
    <div class="container clearfix">
        <div class="one-third column"> <img src="/public/images/icons/arrow-big.png" width="44" height="40" alt="image" class="arrow-icon" />
            <p class="text-big">如何绑定自己的域名？<br>您只需要将域名中的DNS服务器更改为</p>
        </div>
        <div class="one-third column">
            <ul class="list-bullet">
                <li>ns1.free-host.me</li>
                <li>ns2.free-host.me</li>
                <li>ns3.free-host.me</li>
                <li>ns4.free-host.me</li>
            </ul>
        </div>
    </div>
    <!--3 columns ends-->

    <!--page divider here-->
    <div class="page-divider">
        <h2 style="text-align: center;">真正的免费敢于和同类虚拟主机比较</h2>
    </div>

    <div class="clear"></div>
</div>
<!--services ends-->

<!--pricing starts-->
<div id="pricing" class="content">
    <div class="container clearfix">

        <!--pricing 4 columns starts-->
        <div class="pricing sixteen columns four-col">

            <!--pricing first column starts-->
            <div class="price-column first">
                <div class="table-th">
                    <span>
                        <img src="/public/images/000webhost.svg" alt="文讯云">
                    </span>
                </div>
                <div class="clear"></div>
                <div class="table-content">
                    <p>没有脚本自动安装程序</p>
                    <p>限制1 GB磁盘空间</p>
                    <p>有限的10 GB带宽</p>
                    <p>有限的1 GB数据库</p>
                    <p class="sign-notavailable">没有电子邮件服务</p>
                    <p>1个域名绑定，无需备案</p>
                    <p>无SSL证书支持</p>
                    <p>英文管理界面、强制广告插入</p>
                    <p>访问缓慢，且随时可能被删除</p>
                    <a href="javascript:;" class="btn-small"><span>免费</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <!--pricing first column ends-->

            <!--pricing second column starts-->
            <div class="price-column">
                <div class="table-th">
                    <span>
                        <img src="https://img.alicdn.com/tps/TB16hl5LpXXXXXRXVXXXXXXXXXX-198-46.png" alt="文讯云">
                    </span></div>
                <div class="clear"></div>
                <div class="table-content">
                    <p>没有脚本自动安装程序</p>
                    <p>限制20 GB磁盘空间</p>
                    <p>有限的2 M带宽</p>
                    <p>有限的1 GB数据库</p>
                    <p class="sign-notavailable">没有电子邮件服务</p>
                    <p>1个域名绑定，需备案</p>
                    <p>无SSL证书支持</p>
                    <p>中文管理界面、无广告插入</p>
                    <p>免费时长超短，续费价格贵</p>
                    <a href="javascript:;" class="btn-small"><span>试用2周</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <!--pricing second column ends-->

            <!--pricing third column / focused starts-->
            <div class="price-column focused">
                <div class="table-th" style="background:#ffffff">
                    <span>
                        <img src="/public/images/logo.gif" alt="文讯云">
                    </span></div>
                <div class="clear"></div>
                <div class="table-content">
                    <p><span>脚本自动安装程序</span></p>
                    <p><span>无限制磁盘空间</span></p>
                    <p><span>无限制的带宽、流量</span></p>
                    <p><span>无限制的数据库</span></p>
                    <p class="sign-available"><span>免费电子邮件服务</span></p>
                    <p><span>无限域名绑定，需备案</span></p>
                    <p><span>免费SSL证书支持、一键全球cdn加速</span></p>
                    <p><span>中文管理界面、100%无广告插入</span></p>
                    <p><span>快速高效、永久免费</span></p>
                    <a href="/login" class="btn-small"><span>永久免费</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <!--pricing third column ends-->

            <!--pricing fourth column starts-->
            <div class="price-column">
                <div class="table-th">
                    <span>
                        <img src="/public/images/zhujiwu.png" alt="文讯云">
                    </span></div>
                <div class="clear"></div>
                <div class="table-content">
                    <p>没有脚本自动安装程序</p>
                    <p>限制1 GB磁盘空间</p>
                    <p>有限的5 GB流量</p>
                    <p>有限的50 M数据库</p>
                    <p class="sign-notavailable">没有电子邮件服务</p>
                    <p>1个域名绑定，无备案</p>
                    <p>无SSL证书支持</p>
                    <p>中文管理界面、无广告插入</p>
                    <p>免费30天，续期需要申请</p>
                    <a href="javascript:;" class="btn-small"><span>理论免费</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <!--pricing fourth column ends-->

            <div class="clear"></div>
        </div>
        <!--pricing 4 columns ends-->

        <!--page divider here-->
        <div class="page-divider"></div>
    </div>


    <div class="clear"></div>
</div>
<!--pricing ends-->

<!--contact starts-->
<div id="contact" class="content">
    <div class="container clearfix">

        <!--contact form starts-->
        <div class="one-third column">
            <h4>联系我们</h4>
            <form id="contactform" method="post" action="submit-form.php" />
            <fieldset>
                <ul>
                    <li>
                        <label>Name </label>
                        <input name="name" />
                    </li>
                    <li>
                        <label>Email </label>
                        <input name="email" class="required email" />
                    </li>
                    <li>
                        <label>Subject</label>
                        <select name="subject" class="select_style">
                            <option value="General Talk" />General Talk
                            <option value="Email & Social Marketing" />Email & Social Marketing
                            <option value="Internet Marketing Solutions" />Internet Marketing Solutions
                            <option value="E-Commerce" />E-Commerce
                            <option value="CRM" />CRM
                            <option value="Business Development" />Business Development
                        </select>
                    </li>
                    <li>
                        <label>Message </label>
                        <textarea name="message" id="message" class="required"></textarea>
                    </li>
                    <li>
                        <input class="submit" type="submit" value="Send Message" />
                        <div id="result"></div>
                    </li>
                </ul>
            </fieldset>
            </form>
        </div>
        <!--contact form ends-->

        <!--column starts-->
        <div class="two-thirds column">

            <!--address starts-->
            <div class="four columns alpha">
                <h4>合作与生态</h4>
                <img class="wx-img-pan" src="/public/images/ssnetlogo.png" alt="">
                <img class="wx-img-pan" src="/public/images/free-webhosts.gif" alt="">
                <img class="wx-img-pan" src="/public/images/cloudflare.svg" alt="">
                <img class="wx-img-pan" src="/public/images/freenom.png" alt="">
            </div>
            <!--address ends-->

            <!--call / mail starts-->
            <div class="three columns alpha">
                <h4>技术支持</h4>
                <a href="//wxuns.cn">文讯云工作室</a>
                <div class="spacer-20px"></div>
                <h5>咨询洽谈</h5>
                <i class="wx-blue iconfont icon-qq"></i> &nbsp;<a href="http://sighttp.qq.com/msgrd?v=1&uin=382338146" target="_blank">382338146</a>
                <p><i class="wx-gray iconfont icon-icon-test"></i> &nbsp;<a href="mailto:php7ml@gmail.com">php7ml@gmail.com</a></p>
            </div>
            <!--call / mail ends-->

            <!--map starts-->
            <div class="four columns alpha omega">

            </div>
            <!--map ends-->

            <!--dotted divider starts-->
            <div class="divider-dotted"></div>

            <!--twitter starts-->
            <div class="seven columns alpha omega"style="text-align: center;">
                <h4><i class="wx-red iconfont icon-zhuti"></i> 此后</h4>
                <div>
                    <h3>我们的征途是星辰大海!</h3>
                </div>
            </div>
            <!--twitter ends-->

            <!--social starts-->
            <div class="four columns alpha omega">
                <h4>关注我们</h4>
                <ul class="social">
                    <li><a href="//weibo.com/wxuns" target="_blank"><i class="wx-weibo iconfont icon-weibo"></i> 新浪微博</a></li>
                    <li><a href="#"><i class="wx-weixin iconfont icon-weixin"></i> 微信公众号</a></li>
                </ul>
            </div>
            <!--social ends-->

        </div>
        <!--column ends-->

    </div>
    <!--copyright starts-->
    <div class="container clearfix">
        <div id="copyright" class="sixteen columns">
            <p>Copyright © 2013-2018 Wxun Cloud. All Rights Reserved. 文讯云 版权所有</p>
        </div>
    </div>
    <!--copyright ends-->

    <div class="clear"></div>
</div>
<!--contact ends-->
<div class="go-top dn" id="go-top">
    <a href="javascript:;" class="uc-2vm"></a>
    <div class="uc-2vm-pop dn">
        <h2 class="title-2wm">用微信扫一扫</h2>
        <div class="logo-2wm-box">
            <img src="/public/images/weixin.jpg" alt="文讯学堂" width="240" height="240">
        </div>
    </div>
    <a href="http://www.lanrentuku.com/about/guestbook.html" target="_blank" class="feedback"></a>
    <a href="javascript:;" class="go"></a>
</div>
<!--other jqueries required-->
<script src="/public/js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="/public/js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="/public/js/jquery.validate.js" type="text/javascript"></script>
<script src="/public/js/jquery.form.js" type="text/javascript"></script>
<script src="/public/js/custom.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(this).scrollTop(0);
    });
    $(window).on('scroll',function(){
        var st = $(document).scrollTop();
        if( st>0 ){
            if( $('#main-container').length != 0  ){
                var w = $(window).width(),mw = $('#main-container').width();
                if( (w-mw)/2 > 70 )
                    $('#go-top').css({'left':(w-mw)/2+mw+20});
                else{
                    $('#go-top').css({'left':'auto'});
                }
            }
            $('#go-top').fadeIn(function(){
                $(this).removeClass('dn');
            });
        }else{
            $('#go-top').fadeOut(function(){
                $(this).addClass('dn');
            });
        }
    });
    $('#go-top .go').on('click',function(){
        $('html,body').animate({'scrollTop':0},500);
    });

    $('#go-top .uc-2vm').hover(function(){
        $('#go-top .uc-2vm-pop').removeClass('dn');
    },function(){
        $('#go-top .uc-2vm-pop').addClass('dn');
    });
</script>

</body>
</html>